body {
  margin: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.swatch {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin-left: 45%;
}

main {
  margin: 0;
}

main > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main > div {
  align-items: center;
}